@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);

:root {
    --violet: hsl(257, 40%, 49%);
    --softmagenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--violet) url(./images/bg-mobile.svg) no-repeat;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

main {
    width: 80%;
    display: grid;
    justify-self: center;
}

.ui-illustration {
    width: 100%;
}

.landing-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.landing-button {
    color: var(--violet);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    width: 12rem;
    height: 3rem;
    border-radius: 24px;
    border: none;
}

.landing-button:hover {
    background-color: var(--softmagenta);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }