@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --softmagenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

.header-logo {
    height: 2rem;
    padding-left: 10%;
    margin-bottom: 1.5rem;
}

body {
    min-height: 100vh;
    background: var(--violet) url(./images/bg-mobile.svg) no-repeat;
    background-size:  contain;

    display: grid;
    grid-template-rows: 7.75rem min-content auto;
}

main {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 4rem;
}

.ui-illustration {
    width: 100%;
}

.landing-text {
    color: #f8f0e3;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.landing-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 2.25rem;
}

.landing-body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

.landing-button {
    color: var(--violet);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    margin-top: 1rem;
    background-color: white;
    width: 13rem;
    height: 2.75rem;
    border-radius: 24px;
    border: none;

    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.landing-button:hover {
    background-color: var(--softmagenta);
    color: white;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.75rem;

    padding-top: 1rem;
    padding-bottom: 2rem;
}

.social-media-button {
    background: transparent;
    border: 1px solid;
    border-radius: 50%;
    border-color: white;

    width: 2rem;
    height: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    align-self: end;
}

@media screen and (min-width: 900px) {
    .header-logo {
        height: 3rem;
        padding-left: 5%;
        margin-bottom: 0;
    }
    
    .landing-text {
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 7rem;
        padding-right: 8rem;
    }

    .landing-header {
        font-size: 36px;
        line-height: 3.5rem;
    }

    .landing-body {
        margin-top: 1.5rem;
        line-height: 1.75rem;
        font-size: 16px;
    }

    .landing-button {
        font-size: 18px;
    }

    body {
        background: var(--violet) url(./images/bg-desktop.svg) no-repeat;
        background-size: cover;
        background-position-x: -1rem;
    }

    main {
        width: 100%;
        display: grid;
        gap: 2.5rem;
        grid-template-columns: auto auto;
        padding-top: 3rem;
        row-gap: 1rem;
    }

    .ui-illustration {
        min-width: 42.5rem;
        padding-left: 6rem;
    }

    .landing-button {    
        width: 13rem;
        height: 3.5rem;
        border-radius: 36px;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    }

    .social-media-links {
        grid-column-end: -1;
        justify-self: flex-end;
        padding-right: 6rem;
    }

    .social-media-button {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 18px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }