@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --softmagenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--violet) url(./images/bg-mobile.svg) no-repeat;
    background-size:  contain;

    display: grid;
    grid-template-rows: 7.75rem min-content auto;
}

main {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 4rem;
}

.ui-illustration {
    width: 100%;
}

.landing-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.landing-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 2.25rem;
}

.landing-body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

.landing-button {
    color: var(--violet);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    margin-top: 1rem;
    background-color: white;
    width: 13rem;
    height: 2.75rem;
    border-radius: 24px;
    border: none;
}

.landing-button:hover {
    background-color: var(--softmagenta);
    color: white;
}

footer {
    align-self: end;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }